@using Microsoft.AspNetCore.Identity
@model Embrace.Models.DiscussionBoardViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Connection Corner";
}

<h1>Connection Corner</h1>

<link rel="stylesheet" href="/css/discussionBoards.css" />

<p class="connection-corner-description">Use this page to start a conversation, ask a question, find people to meet up with in your community, and more! Either start your own chat board or comment on someone else's to get started.</p>

<form asp-controller="DiscussionBoards" asp-action="Index" method="get" class="search-container">
    <div class="d-flex">
        <a class="btn btn-create" asp-action="Create">New Chat</a>
        <select asp-for="DiscussionType" asp-items="Model.DiscussionTypes" class="form-select">
            <option value="" selected disabled>Select a discussion type</option>
            <option value="">All</option>
        </select>
        <input type="text" name="SearchString" placeholder="Enter a searchword" class="form-control" />

        <button type="submit" class="btn btn-search">Search</button>
    </div>
</form>

<section class="centered">
    <div class="cards">
        @if (Model.DiscussionBoards!.Count == 0)
        {
            @if (Model.SearchString != "")
            {
                <p class="no-discussion-boards">No conversations contain your search term(s).</p>

            }
            @if (SignInManager.IsSignedIn(User))
            {
                <p class="no-discussion-boards">There are currently no conversations! Click the "New Chat" button above to start your own.</p>
            }
            else
            {
                <p class="no-discussion-boards">There are currently no conversations! Please register or login to start your own.</p>
            }
        } else
        {
            @foreach (var item in Model.DiscussionBoards)
            {
                <a class="card" asp-action="Details" asp-route-id=@item.Id>
                    <div class="card-header d-flex">
                        <img src="/images/chatIcon2.png" alt="Icon" class="card-icon me-2">
                        <h5 class="card-title">@item.Title</h5>
                        <span class="conversation-tag">@item.DiscussionType.GetDescription()</span>
                    </div>

                    <div class="card-body">
                        <p class="card-text">@item.Content</p>
                    </div>
                    <div class="discussion-board-card-buttons">
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <a class="btn btn-success resource-button" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-delete resource-button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <span class="card-footer-text">Comments: @item.Comments.Count()</span>
                        <span class="card-footer-text">@item.CreatedOn.Date.ToShortDateString()</span>
                    </div>
                </a>
            }
        }
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const paragraphs = document.querySelectorAll('.card-body p');
        paragraphs.forEach(function(p) {
            if (p.scrollHeight > p.clientHeight) {
                p.classList.add('fade-if-overflow');
            } else {
                p.classList.remove('fade-if-overflow');
            }
        });
    });
</script>
