@using Microsoft.AspNetCore.Identity
@model Embrace.Models.ResourceViewModel
@inject SignInManager<User> SignInManager


@{
    ViewData["Title"] = "Resources";
}

<link rel="stylesheet" href="/css/resources.css" />

<h1>Resources</h1>
<!-- TO-D0: maybe update this page to use a carousel at the top to navigate through the different offerings and their links -->

<p class="resource-list-description">
    Use this page to search for resources that can help you in a variety of different categories. You can filter by the type of service offered, whether it is an in-person or online resource, and search by the name and zipcode of a resource.
    <br />
    <div class="fw-bold">Definitions</div>
    In-Person - A resource that has an in-person location.
    <br />
    Online - A resource that can only be accessed online (although it might point you to more in-person resources on the website).
</p>

<div class="container-test">
    <form asp-controller="Resources" asp-action="Index" method="get" class="search-container">
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <p>
                <a class="btn btn-create" asp-action="Create">Add a resource</a>
            </p>
        }
        <div class="d-flex">
            <select asp-for="ResourceType" asp-items="Model.ResourceTypes" class="form-select">
                <option value="" selected disabled>Select a resource type</option>
                <option value="">All</option>
            </select>

            <select asp-for="ServiceCategoryId" asp-items="Model.ServiceCategories" class="form-select">
                <option value="" selected disabled>Select a service category</option>
                <option value="">All</option>
            </select>

            <input type="text" name="SearchString" placeholder="Enter a searchword" class="form-control" />
            <input type="text" name="ZipSearchString" placeholder="Enter a zipcode" class="form-control" /> <!-- TO-DO: IMPLEMENT ZIPCODE SEARCH FUNCTIONALITY-->

            <button type="submit" class="btn btn-search">Search</button>
        </div>
    </form>

    <div style="overflow-x:auto;">
        <table class="table table-borderless table-sm">
            <thead>
                <tr class="resource-header">
                    <th>
                        <h4>Resource</h4>
                    </th>
                    <th>
                    </th>
                    <th>
                        <h4>Type</h4>
                    </th>
                    <th>
                        <h4>Service Categories</h4>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Resources!)
                {
                    <tr class="resource-row">
                        <td>
                            <div class="resource-image">
                                @if (!string.IsNullOrEmpty(item.LocationImage))
                                {
                                    <img src="@item.LocationImage" alt="Location Image" />
                                }
                                else if (!string.IsNullOrEmpty(item.LogoImage))
                                {
                                    <img src="@item.LogoImage" alt="Logo Image" />
                                }
                                else
                                {
                                    <img src="/images/resourcePlaceholderImage.png" alt="No Resource Image Available" />
                                }
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ResourceName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ResourceType)
                        </td>
                        <td>
                            <ul class="service-categories">
                                @foreach (var category in item.ServiceCategories)
                                {
                                    <li class="checkmark-bullet">
                                        @category.ServiceCategory.Name
                                    </li>
                                }
                            </ul>
                        </td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-details resource-button" asp-action="Details" asp-route-id=@item.Id>Details</a>
                                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                                {
                                    <a class="btn btn-success resource-button" asp-action="Edit" asp-route-id=@item.Id>Edit</a>
                                    <a class="btn btn-delete resource-button" asp-action="Delete" asp-route-id=@item.Id>Delete</a>
                                }
                                <a class="btn btn-save resource-button" asp-action="Save" asp-route-id=@item.Id>Save</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>