@model IEnumerable<Embrace.Models.Document>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalLanguage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalDataPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TranslatedDataPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetLanguage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalLanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalDataPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TranslatedDataPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetLanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
